
<div class="row" data-ng-controller="ComposeController">
    <div class="col-md-8">
        <div class="form-group">
            <span class="col-md-2 control-label">To</span>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="mailMessageModel.To" placeholder="receiver's email" />
            </div>
        </div>
        <div class="form-group">
            <span class="col-md-2 control-label">Subject</span>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="mailMessageModel.Subject" placeholder="subject" />
            </div>
        </div>
        <div class="form-group">
            <span class="col-md-2 control-label">Message</span>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="mailMessageModel.Body" placeholder="message" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-info" ng-click="sendEmail()">Send</button>
            </div>
        </div>

    </div>
</div>


