
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            
            <div class="form-group">
                <span class="col-md-2 control-label">Gmail Id</span>
                <div class="col-md-10">
                    <input type="text" class="form-control" ng-model="mailSettingModel.Email" placeholder="login email" />
                </div>
            </div>
            <br />
            <br />
            <br />
            
            <div class="form-group">
                <span class="col-md-2 control-label">Gmail Password</span>
                <div class="col-md-10">
                    <input type="password" class="form-control" ng-model="mailSettingModel.Password" placeholder="password" />
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-info" ng-click="save()">Save</button>
                </div>
            </div>

        </section>
    </div>

</div>
