<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EmailClientConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=EmailClient;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>